p {
  font-family: arial;
}
.exercise-letter {
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
  color: darkslategrey;
  margin-bottom: 0;
  margin-top: 15px;
}

._5e-release {
  color: rgb(255, 140, 0);
  text-align: center;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0;
}

._5e-product_name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 0;
}

._5e-description {
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  margin-top: 5px;
  margin-bottom: 0;
}

._5e-price {
  color: gray;
  text-align: center;
  font-size: 13px;
  margin-top: 5px;
}

._5e-buy-button {
  display: block;
  background-color: rgb(0, 119, 255);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 8px 15px;
  margin: 5px auto;
  cursor: pointer;
  transition: background-color 200ms;
}

._5e-buy-button:active {
  background-color: rgb(61, 151, 254);
}

._5f-1 {
  margin-bottom: 4px;
}

._5f-span1-1 {
  font-size: 25px;
  margin-bottom: 0;
}

._5f-span1-2 {
  font-size: 13px;
  color: gray;
  margin-bottom: 0;
}

._5f-span2 {
  font-size: 13px;
  color: green;
  margin-top: 0;
  margin-bottom: 4px;
}

._5f-3 {
  margin-top: 0;
  margin-bottom: 4px;
}

._5f-span3-1 {
  font-size: 13px;
  color: gray;
  margin-bottom: 0;
  margin-top: 0;
}

._5f-span3-2 {
  font-size: 13px;
  color: red;
  margin-bottom: 0;
  margin-top: 0;
}

._5g-1 {
  margin-bottom: 5px;
}

._5g-1-1 {
  font-weight: bold;
  margin-bottom: 0;
}

._5g-1-2 {
  color: gray;
  margin-bottom: 0;
}

._5g-2 {
  width: 430px;
  margin-top: 0;
}

._5g-3 {
  color: rgb(0, 145, 255);
  cursor: pointer;
}