.thumbnail {
  width: 100%;
}

.video-preview {
  position: relative
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-author,
.video-stats {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 48px 1fr;
}

.pfp-img {
  width: 36px;
  border-radius: 50%;
} .pfp-img:hover + .tooltip {
  opacity: 1;
}

.video-preview .tooltip {
  position: absolute;
  bottom: -30px;

  background-color: white;
  height: 68px;
  width: 210px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;

  display: flex;
  align-items: center;

  opacity: 0;
  
  transition: opacity 150ms;
}

.tooltip-pfp-img {
  width: 40px;
  border-radius: 40px;
  margin-left: 15px;
  margin-right: 10px;
}

.tooltip-info {
  font-family: Roboto, arial;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tooltip-author {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 6px;
}

.tooltip-stats {
  font-size: 13px;
  color: rgb(96, 96, 96);
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-time {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 4px;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 4px;
  border-radius: 2px;
}