.exercise-letter {
  font-family: arial;
  font-weight: bold;
  font-size: 16px;
  color: darkslategrey;
  margin-bottom: 0;
  margin-top: 15px;
}

._5a {
  font-family: tahoma;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
}

._5b-1 {
  font-family: arial;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
}

._5b-2 {
  font-family: arial;
  font-size: 13px;
  font-style: italic;
  color: red;
  margin-top: 5px;
}

._5c-title {
  font-family: verdana;
  font-weight: bold;
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 0px;
}

._5c-skills {
  font-family: verdana;
  font-size: 15px;
  color: gray;
  margin-top: 3px;
}

._5c-description {
  font-family: verdana;
  font-size: 15px;
  width: 280px;
}

._5c-start-button {
  background-color: green;
  font-family: verdana;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px 16px;
  cursor: pointer;
  transition: background-color 150ms,
    font-size 150ms;
}
._5c-start-button:hover {
  background-color: rgb(11, 145, 11);
}
._5c-start-button:active {
  font-size: 15px;
}

._5d-title {
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
}

._5d-subtitle {
  font-family: arial;
  font-size: 14px;
  text-align: center;
}

._5d-link {
  display: block;
  font-family: arial;
  font-size: 11px;
  text-align: center;
}