p {
  font-family: arial;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 4px;
}

.exercise {
  display: block;
  width: 500px;
}

.red-square {
  width: 100px;
  height: 100px;
  background-color: red;

  margin-bottom: 20px;
}

.green-circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50px;

  margin-bottom: 20px;
}

.survey {
  border-style: solid;
  border-width: 1px;
  width: 360px;
  height: 100px;
}

.survey-question {
  margin: 17px 21px;
}

.yes-button {
  margin-left: 21px;
}

.yes-button,
.no-button {
  margin-top: 6px;
}

.advertisment {
  width: 360px;
  background-color: rgb(33, 33, 33);
  padding: 20px 15px;
}

.title {
  font-weight: bold;
  color: white;
  font-size: 24px;
  margin-bottom: 10px
}

.description {
  color: rgb(149, 149, 149);
  font-size: 15px;
}